.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}   

button {
    cursor: pointer;
}
.logotype i {
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
color: var(--IRIS, #4D5AE5);
}