.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}   

button {
    cursor: pointer;
}
.logotype i {
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: -0.03em;
color: var(--IRIS, #4D5AE5);
}